<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Rating System</title>
</head>

<body>
    
       <form  action="/" method="POST">
        <div class="rating-box">
          <h1>Rating System</h1>

          <input type="text" class="user" name="ratedBy" placeholder="rated To [0/1]" autocomplete="off"  ><br>

        <input type="text" class="user" name="userName" placeholder="Enter username" autocomplete="off"  ><br>
      
          <input type="text" class="user" name="rating" placeholder="Enter rating [1-5]" autocomplete="off"  ><br>
          <button type="submit" class="user" name="list" >submit</button>
        </div>
        
       </form>
           
     
  
</body>
</html>